{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h1 class="center">Login</h1>
    <form class="center" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button class="button" role="button">Login</button>
    </form>
  </div>
</main>
{% endblock content %}
