{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h1>Signup</h1>
    <form method="Post" class="center">
      <p class="left">{% csrf_token %} {{ form.as_p }}</p>
      <button class="button">Signup</button>
    </form>
  </div>
</main>
{% endblock content %}
