{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h1>My Projects</h1>
    <p>
      <a href="{% url 'create_project' %}">Create a new project</a>
    </p>
    {% if project_list %}
    <table class="table-center">
      <thead>
        <tr>
          <th class="th-first">Name</th>
          <th class="th-second">Number of tasks</th>
        </tr>
      </thead>
      <tbody>
        {% for project in project_list %}
        <tr>
          <td class="td-center">
            <a href="{% url 'show_project' pk=project.pk %}"
              >{{ project.name }}</a
            >
          </td>
          <td clas="td-center">{{ project.tasks.count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You are not assigned to any projects</p>
    {% endif %}
  </div>
</main>
{% endblock content %}
